body {
	background: url("../images/sananes.png") fixed no-repeat bottom right;

	@include media($small) {
		background:none;
	}
}

.row {
	@include outer-container;
	margin: 200px 0;

	// margin-left:-90px;
	&.nm {
		margin-top:0px !important;
		margin-bottom:0px;
	}

	@include media($small) {
		padding-left: 50px;
		padding-right:50px;
		margin: 50px 0;
	}

	@include media($large) {
		padding-left: 50px;
		padding-right:50px;
	}
}
.ls {
	@include span-columns(2);
	// @include shift(-1);

	h3 {
		font-size: rem(14px);
		letter-spacing:2px;
		text-transform:uppercase;
		color: $light-gray;
	}


	@include media($small) {
		 @include fill-parent();
		 margin-left:0px;
		 margin-right:0px;

		 h3 {
		 	margin-bottom:30px;
		 }
	}

	@include media($large) {
		@include shift(0);
	}
}
.rs {
	@include span-columns(10);
	margin-top: -5px;

	.block {
		@include span-columns(4);
	}
	@include media($small) {
		width:100%;

		.block {
			width:100%;
		}
	}
}
.intro {
	padding:343px 0 400px;

	.social {
		margin-top:30px;
		li {
			display:inline-block;
			padding-right: 20px;
			text-transform:uppercase;
			letter-spacing:2px;
			font-size: rem(12px);
		}
	}
	.main-title {
		font-size: rem(80px);
		font-weight:100;
		letter-spacing:-1px;
		line-height:80px;
		font-family: "Calibre";
		width: 100%;
		margin-top:0px;
	}
	@include media($small) {

		padding: 50px 0;

		.ls {
			margin-bottom: 50px;
		}

		.main-title {
			font-size: rem(50px);
			line-height:50px;

			br {
				display:none;
			}
		}
	}

	
}
.dribbble-shots {
	li {
		@include span-columns(6);
		@include omega(2n);
		margin:0px !important;

		img {
			max-width:100%;
			width:100%;
			filter: grayscale(100%);
			@include transition(all .3s ease-in-out);
		}

		a:hover img {
			filter: grayscale(0%);
			opacity:1;
		}
	}

}

.contact {
	.rs {
		// @include span-columns(12);
	}
	.blurb {
		@include span-columns(4);
	}
}