body {
	background: url("../images/sananes.png") fixed no-repeat bottom right;
}
.row {
	@include outer-container;
	// padding:0 20px;
	margin: 200px 0;
	// margin-left:-90px;
	&.nm {
		margin-top:0px !important;
		margin-bottom:0px;
	}
}
.ls {
	@include span-columns(2);
	@include shift(-1);
	h3 {
		font-size: rem(14px);
		letter-spacing:2px;
		text-transform:uppercase;
		color: $light-gray;
	}
}
.rs {
	@include span-columns(10);
	margin-top: -5px;

	.block {
		@include span-columns(4);
	}
}
.intro {
	padding:343px 0 400px;
}
.main-title {
	font-size: rem(80px);
	font-weight:100;
	letter-spacing:-1px;
	line-height:80px;
	font-family: "Calibre";
	width: 100%;
	margin-top:0px;
}
.dribbble-shots {
	li {
		@include span-columns(6);
		@include omega(2n);
		margin:0px !important;

		img {
			max-width:100%;
			width:100%;
			filter: grayscale(100%);
			@include transition(all .3s ease-in-out);
		}

		a:hover img {
			filter: grayscale(0%);
			opacity:1;
		}
	}

}

.contact {
	.rs {
		// @include span-columns(12);
	}
	.blurb {
		@include span-columns(4);
	}
}