---
layout: default
---
<div class="wrapper">
<header id="mast">
  
  <h1><a href="{{ site.url }}"><svg class="logo" viewBox="0 0 66 80">
   <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/dist/svg/spriter.svg#icon-logo2"></use>
</svg></a></h1>

  <div class="hero-wrapper">
    <div class="left-side">
      <h2 class="hero-title">{{ page.title }}</h2>
      <p class="hero-description">{{ page.description }}</p>
    </div>
  </div>
</header>
</div>

<section id="project">
	{{ content }}
</section>